* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.header {
  margin: 2rem;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

.column {
  width: 210px;
  height: 60px;
  display: inline-block;
  margin: 0 2rem;
}

.column h4 {
  /* text-decoration: underline; */
  margin-bottom: 1rem;
}

.field {
  width: 900px;
  height: 500px;
  margin: auto;
  border: 2px solid black;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15rem;
}

.red {
  background-color: red;
  left: 3rem;
}

.blue {
  background-color: blue;
  right: 3rem;
}

.timer {
  font-family: "Press Start 2P", cursive;
  padding: 1rem;
}
