* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Press Start 2P";
}

.header {
  margin: 2rem;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

.column {
  width: 210px;
  height: 60px;
  display: inline-block;
  margin: 0 2rem;
}

.column div {
  margin-bottom: 1rem;
}

.field {
  width: 900px;
  height: 500px;
  margin: auto;
  border: 2px solid black;
  position: relative;
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.player {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
}

.red {
  background-color: red;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blue {
  background-color: blue;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
